body{
	margin: 0;
	background-color: #A54C4C;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#logo{
	display: block;
}
.login{
	display: flex;
	justify-content: center;
	align-content: center;
}
#login,#register{
	background-color: #5E9F6A;
	border: 3px solid #1C4125;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 10px;
}
#login div{
	display: flex;
	justify-content: space-between;
}
.login input[type="text"]{
	width: 200px;
	margin: 5px;
	padding: 5px 10px;
}
.login input[type="button"]{
	margin: 5px;
	border: none;
	background-color: #1C4125;
	color: white;
	padding: 10px 28px;
}
